*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: rgb(87, 86, 86);
    padding: 50px;
}

.footer .top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 35px;
    /* align-items: center; */
}

.footer .top .left {
    width: 200px;
}

.footer .top .left h1 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    color: #0fe70f;
    letter-spacing: 0.5px;
}

.footer .top .left .icons {
    display: flex;
    justify-content: space-between;
}

.footer .top .center {
    width: 500px;
}

.footer .top .center .center-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.footer .top .center .center-top a {
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}

.footer .top .center .center-bottom h1 {
    font-size: 18px;
    font-weight: 200;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.footer .top .center .center-bottom input {
    width: 300px;
    background-color: rgb(50, 49, 49);
    color: white;
    border: none;
    outline: none;
    padding: 13px 12px;
    font-size: 16px;
}

.footer .top .center .center-bottom button {
    padding: 13px 35px;
    font-size: 16px;
    border: none;
    background-color: rgb(202, 202, 101);
    cursor: pointer;
    color: white;
}

.footer .top .right p {
    color: rgb(216, 210, 210);
    font-size: 13px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    margin-top: 60px;
    line-height: 25px;
    letter-spacing: 1px;
}

.footer .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer .bottom p{
    color: white;
    font-family: 'Roboto', sans-serif;
    color: rgb(216, 210, 210);
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
}

.footer .bottom a {
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.footer .bottom .b-right{
    width: 250px;
    display: flex;
    justify-content: space-between;
}